.fc-day-today {
  background: rgb(145, 95, 3) !important;
  border: none !important;
}

/* Change the color of day numbers */
.fc-daygrid-day-number {
  color: rgb(43, 43, 43); /* Set the desired text color */
  text-decoration: none;
}
